/* Estilos globais */
/* fonte google*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans&family=Source+Code+Pro:wght@200..900&display=swap');
:root {
  font-family: "Source Code Pro", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/img/gifer.gif');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.title {
  font-size: 20px;
  -webkit-text-stroke: 1px black;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .conteiner {
    flex-direction: column; /* Muda a direção dos itens */
  }
  .title {
    font-size: 18px; /* Reduz o tamanho do título */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 16px; /* Ajusta para telas muito pequenas */
  }
}
